<h1>Reset Password</h1>

<%= form_for @user, url: password_path(params[:id]) do |form| %>
  <%= render('users/errors', user: @user) %>
  <div class="field">
    <%= form.label :password %><br/>
    <%= form.password_field :password %>
  </div>
  <div class="field">
    <%= form.label :password_confirmation %><br/>
    <%= form.password_field :password_confirmation %>
  </div>
  <br/>
  <div class="actions">
    <%= form.submit "Update Password" %>
  </div>
<% end %>
